body {
  background-image: url(/img/space.img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-container, .completed-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* creates a 3-column grid */
  grid-gap: 10px; /* adds space between the grid items */
}

.todo-item {
  background-color: transparent; /*remove background color*/
  text-align: center;
  width: 300px; /* set a fixed width */
  
  border-radius: 15px; /* increase border radius */
  padding: 20px; /*add some padding inside the card*/
  margin: 20px; /*add some margin around the card */
  box-shadow: 2px 2px 10px aqua; /* add a box shadow */
  color: aqua;
  top: -50px;
  left: -35px;
  display: block;
  z-index: 999;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/*change the number below to scale to appropriate size*/
.todo-item:hover {
  transform: scale(1.1);
}

.todo-item.full-size{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  background-color: black;
  z-index: 99999;
  padding: 20px;
}

.todo-item.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  border-radius: 0;
}

.complete-button {
  background-color: black; /* green */
  color: aqua;
  padding: 12px 20px;
  border: 10px;
  cursor: pointer;
}

.view-full {
  background-color: black;
  color: aqua;
  padding: 12px 20px;
  border: 10px;
  cursor: pointer;
}

.close-button {
  background-color: black;
  color: aqua;
  padding: 12px 20px;
  border: 10px;
  cursor: pointer;
  display: block;
}

.complete-button:hover {
  background-color: #3e8e41; /* dark green */
}

img {
  height: 200px;
  width: 200px;
}

h1, h2 {
  text-align: center;
  color: aqua;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .todo-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 15px;
  }
}








